---
// src/pages/archives/[id].astro
import BaseLayout from "@layouts/BaseLayout.astro";
import Prose from "@components/common/Prose.astro";
import ArchiveView from "@components/react/ArchiveView"
import TextToSpeechWrap from "@components/react/TextToSpeechWrap"
---
<BaseLayout title={"Archive data"} , description={""}, addPaddingBottom={true}>
  <Prose>
    <ArchiveView client:load />
  </Prose>
  <div
      slot="player"
      class="fixed inset-x-0 bottom-0 z-[100] bg-white border-t border-gray-200 p-4 shadow-lg"
  >
      <TextToSpeechWrap client:load />
  </div>

</BaseLayout>

