---
// src/pages/archive.astro
import BaseLayout from "@layouts/BaseLayout.astro";
import ArchiveDirList from "@components/react/ArchiveDirList";

---

<BaseLayout title="保存されている天気図一覧", description="保存されている気象データを表示するページです。">
    <h1>保存されている天気図</h1>
    <ArchiveDirList client:load />
</BaseLayout>
