---
// src/pages/recent.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import {getDirectoryList} from "../utils/s3";

// 最新の14件（1日2回×7日分）を取得
const list = await getDirectoryList()
const recentList = list?list.slice(0, 14):[]

---

<BaseLayout title="直近1週間の天気図一覧", description="直近1週間の気象データを表示するページです。">
    <h1>直近1週間の天気図</h1>

    <ul id="weather-list" class="weather-list">
        {
            recentList.map((id:string) => {
                console.log(id)
                return (
                    <li class="weather-item">
                        <a href={`/view/${id}`}>
                            <h3>{id.slice(0,4)}年{id.slice(4,6)}月{id.slice(6,8)}日 {id.slice(9,11)}時{id.slice(11,13)}分 発表</h3>
                        </a>
                    </li>
                )
            })
        }
    </ul>
</BaseLayout>

<style>
    .weather-list {
        list-style: none;
        padding: 0;
    }
    .weather-item {
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
    }
    .weather-item a {
        text-decoration: none;
        color: inherit;
    }
</style>
