---
import "@/styles/global.css"
import { config } from "@parseConfig"

import BaseHead from "@components/layout/BaseHead.astro"
import Sidebar from "@components/layout/Sidebar.astro"
import Footer from "@components/layout/Footer.astro"

interface Props {
  title: string
  description: string
  image?: string,
  addPaddingBottom?:boolean
}

const { title, description, image, addPaddingBottom = false} = Astro.props
---

<!doctype html>
<html lang={config.site.locale}>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body class="antialiased">
    <div
      class="mx-auto flex min-h-svh w-full max-w-3xl flex-col px-4 sm:min-h-screen md:gap-8 md:px-8 md:pr-8 md:grid md:grid-cols-[1fr_4fr]"
    >
      <Sidebar />
      <div class="flex min-w-0 grow animate-slide-in flex-col py-8 md:mt-8">
        <main class="grow">
          <slot />
        </main>

        <Footer />
        {addPaddingBottom?<div class="pb-24"></div>:null}
      </div>
    </div>
    <slot name="player" />
  </body>
</html>
